alembic==1.17.2
fastapi==0.128.0
GeoAlchemy2==0.19.0
httpx==0.28.1
pillow==11.2.1
psycopg[binary]==3.3.2
PyJWT[crypto]==2.9.0
pytest==9.0.2
python-dotenv==1.2.1
python-multipart==0.0.20
SQLAlchemy==2.0.45
ultralytics==8.4.8
uvicorn[standard]==0.38.0
boto3==1.34.84
